<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="Styles/bootstrap.min.css" />
</head>

<body>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-11 ml-2">
      <div class="row bg-light ml-2 p-4 h5">
        <span class="ml-auto mr-auto">Dispatched Orders</span>
      </div>

      <table class="table table-striped table-borderless table-hover justify-content-center h6 text-center mt-3 p-3">
        <thead>
        <tr>
          <td>S.No</td>
          <td>PO Number</td>
          <td>Delivery Boy Name</td>
          <td>Total Amount</td>
          <td>Status</td>
          <td>Dispatched</td>
          <td>Order Date</td>
        </tr>
        </thead>
        <tbody>
            <tr>
              <td><span>1</span></td>
              <td><span>PO01</span></td>
              <td><span>Rakesh</span></td>
              <td><span>1000</span></td>
              <td><span>Dispatched</span></td>
              <td><span><select class="form-control w-50 ml-auto mr-auto">
                <option>Order Returned</option>
                <option>Customer Address Not Found</option>
                <option>Completed Order</option>
              </select></span></td>
              <td><span></span></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="popup" id="delivery_modal">
  <div class="card border-0 delivery-popup-cardbody">
    <div class="card-body">
      <div class="row justify-content-end">
        <span class="mr-2"><a href="#"  class="h5 close text-white" id="close_delivery_modal">&#10006;</a></span>
      </div>
      <div class="row mt-2 text-white h6 justify-content-center">
        <table class="table text-center text-white">
          <tr>
            <td>Name:</td>
            <td><select class="form-control">
              <option>Ram</option>
              <option>Sagar</option>
              <option>Naman</option>
            </select></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script>

    $('#delivery_modal').hide();

    $('.delivery_check').click(function(){
        $('#delivery_modal').show();
    });

    $('#close_delivery_modal').click(function(){
        $('#delivery_modal').hide();
    });


    $(document).ready(function ($) {
        $(".table-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

</script>

</body>

</html>