/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  font-weight: 500;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.product-selling-order-table {
  display: block;
  height: 445px;
  overflow-y: auto;
}

.card {
  border-radius: 10px;
}

.table thead {
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.4);
}

.phoneInput div:first-of-type {
  text-align: center;
  margin-bottom: 15px;
}

.phoneInput input {
  height: 50px;
}

.custdetails-info {
  width: 40%;
}

.custdetails hr {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  margin: 0 auto;
}

.payment-tag-title {
  font-size: 20px;
}

.payment-tag {
  background-color: #003460;
  border-radius: 10px;
}

.payment-tag span {
  color: white;
}
