/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bodyBackground {
  background-color: #003460;
  font-family: "Poppins", sans-serif;
}

.loginCard {
  border: 1px solid black;
  width: 60%;
  height: 500px;
  margin: auto auto;
  margin-top: 80px;
}

.loginFormCard {
  border: 1px solid black;
  border-radius: 10px;
}

.signUpLink {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
  text-decoration: none;
  font-size: medium;
}

.loginBtn {
  width: 100%;
}

.login_img {
  margin-top: 13%;
  padding-right: 5px;
}

.popup {
  display: none;
  position: fixed;
  top: 150px;
  left: 38%;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 20;
}

#valid_password_modal:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#valid_email_modal:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.popup-cardbody {
  border: none;
  background-color: #003460;
  width: 400px;
  height: 180px;
}
