.container-position {
  margin-left: -10%;
}

.quality-check-responsive {
  width: 70px;
  height: 70px;
}

.message-line {
  width: 10%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.binge-line {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.img-responsive {
  /* width: 15px; */
  height: 200px;
}
