<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <style>
      .body-bg {
          background-color: rgba(0, 52, 96, 0.9);

      }

      .text-msg {
          position: absolute;
          z-index: 1;
          top: 55px;
          left: 50%;
          font-family: 'Poppins', sans-serif;
      }

      .cloud-img {
          position: absolute;
          left: 45%;
          width: 300px;
          height: auto;
      }

      .rahul-img {
          position: absolute;
          left: 10%;
          top: 40%;
          width: 700px;
          height: auto;
      }
  </style>
</head>

<body class="body-bg">

<div>
  <img src="assets/clouds.png" class="cloud-img">
  <h1 class="text-msg"><span>It appears</span><br><span>you are as</span><br><span>lost as me</span></span></h1>
</div>
<div class="row">
  <img src="assets/Rahul.png" class="rahul-img">
</div>

</body>